<h2 mat-dialog-title>
  {{ isEditMode ? 'Edit Book' : 'Add Book' }}
</h2>

<form [formGroup]="form">

  <mat-dialog-content>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Author</mat-label>
      <input
        matInput
        formControlName="author"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Genre</mat-label>
      <input
        matInput
        formControlName="genre"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Publisher</mat-label>
      <input
        matInput
        formControlName="publisher"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ISBN</mat-label>
      <input
        matInput
        formControlName="isbn"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Publication Year</mat-label>
      <input
        matInput
        type="number"
        formControlName="publicationYear"
      />
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-button
      type="button"
      (click)="cancel()">
      Cancel
    </button>

    <button
      mat-flat-button
      color="primary"
      type="button"
      [disabled]="form.invalid"
      (click)="save()">
    {{ isEditMode ? 'Update' : 'Save' }}
    </button>
  </mat-dialog-actions>

</form>